* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
}

a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 2em 0;
}

.container {
  margin: 0 auto;
  width: 65%;
  height: 100%;
}

.safe-nav {
  margin-top: 60px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  /* background-color: rgb(46, 46, 46); */
  background-color: #1e1e1e;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.close-btn {
  display: none;
}

.ham-btn {
  display: none;
}

#brand {
  font-size: 14pt;
}

.links {
  transition: height 0.15s ease-out;
}

.links a {
  padding: 0.5em;
  margin-left: 1em;
  transition: 0.1s ease-in-out;
}

.links a:hover {
  color: #dbdbdb;
}

.hero {
  z-index: -1;
  height: 100vh;
  /* background-color: red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 40pt;
}

.subtitle {
  font-size: 13pt;
}

.section-title {
  font-size: 20pt;
}

.purple {
  color: #b535ff;
}

.underline {
  border-bottom: 2px solid #b535ff;
}

footer {
  padding: 3em 0;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
  .hero {
    width: 90%;
    margin: 0 auto;
  }
  .title {
    font-size: 30pt;
  }
  .links {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.925);
    width: 100%;
    height: 0vh;
    text-align: center;
    overflow: hidden;
  }
  .links .wrapper {
    margin-top: 80px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%; */
  }
  .links a {
    display: block;
    padding: 1em;
    margin: 2em 0;
    font-size: 14pt;
  }
  .close-btn {
    display: none;
    z-index: 5;
    margin-right: 5%;
    margin-top: 1em;
    top: 0;
    right: 0;
    position: absolute;
  }
  .ham-btn {
    z-index: 5;
    display: inline;
    /* margin-right: 1em;
    margin-top: 1em;
    top: 0;
    right: 0;
    position: absolute; */
  }
}

/* @media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  .title {
    font-size: 22pt;
  }
} */
